body{
    background-color: aliceblue;
    padding: 20px;
   
 }
 
 .container{
    max-width: 400px;
    margin: auto;
    background-color: #f3b5eb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #050505;
 }

 #listado{
   overflow-x: hidden; /* Hide horizontal scrollbar */
   overflow-y: scroll; /* Add vertical scrollbar */
   max-width: 200px;
}

#btn-primary {
   color: #fff;
   background-color: #3a444b;
   border-color: #250633;
   width: 15vw;
}